/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232D3F;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Barra de Tarefas */
li a {
  color: #B4B4B3;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  transition: .07s;
}

li a:hover {
  color: #fff;
  transform: scale(1.15);
}

#barra-tarefas {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232E;
  opacity: 0.9;
  height: 10vh;
  width: 100%;
  z-index: 4;
}

.logo {
  height: 80%;
}

.nav-botoes {
  list-style: none;
  display: flex;
}

.nav-botoes li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.menu-responsivo {
  display: none;
  cursor: pointer;
}

.menu-responsivo div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-botoes {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232E;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0.9;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-botoes li {
    margin-left: 0;
    opacity: 0;
  }
  .menu-responsivo {
    display: block;
  }
}

.nav-botoes.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-responsivo.active .linha1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-responsivo.active .linha2 {
  opacity: 0;
}

.menu-responsivo.active .linha3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Topo do Site */
#top-container {
  padding: 70px 4% 0 4%;
}

#top-container .flex {
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 110px;
  margin-bottom: 50px;
}

#perfil-frase {
  color: #BAD7E9;
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  line-height: 55px;
  margin-bottom: 30px;
}

#perfil-slogan {
  color: #BAD7E9;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.img-perfil {
  width: 420px;
}

/* Sobre mim */
#middle-container {
  font-family: "Montserrat", sans-serif;
}

#middle-container .flex {
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#sobre-mim {
  color: #03AFEC;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 110px;
  margin-bottom: 20px;
}

.txt-sobre {
  color: #BAD7E9;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 23px;
}

.img-sobre {
  width: 450px;
}

.btn-sobre-contato {
  color: #03AFEC;
  font-weight: bold;
  text-decoration: none;
  transition: 0.7s;
  display: inline-block;
  transition: .09s;
}

.btn-sobre-contato:hover {
  color: #fff;
  transform: scale(1.04);
}

/* Tecnologias que eu domino */
#tech-sobre .flex {
  align-items: center;
  justify-content: center;
}

#tech-sobre {
  padding: 20px 4% 40px;
}

.box-tech {
  padding: 30px;
  width: 370px;
  height: 390px;
  color: #BAD7E9;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 23px;
  border-radius: 20px;
  margin: 0 30px;
  transition: .4s;
  z-index: 1;
}

#tech-dominio {
  color: #03AFEC;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 110px;
  margin-bottom: 65px;
}

.box-tech:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #FFFFFF82;
}

.box-tech h3 {
  font-size: 26px;
  margin: 15px 0;
}

.img-dev {
  width: 100px;
}

/* Projetos */
#middle-projetos .flex {
  align-items: center;
  justify-content: center;
}

#middle-projetos .interface {
  display: flex;
  justify-content: space-around;
}

#projetos {
  color: #03AFEC;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 110px;
  margin-bottom: 65px;
}

.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  margin-bottom: 75px;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(10, 206, 221, 0.5), rgba(3, 175, 236, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card-info:hover {
  opacity: 1;
  transform: translateY(0px);
}

.card-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.card-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.btn-projetos {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #232D3F;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

.btn-projetos:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 5);
}

/* Área de Contato */
#bottom-contato {
  padding: 80px 4%;
}

#contato {
  color: #03AFEC;
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 110px;
  margin-bottom: 30px;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.inp-contato, .txt-mensagem {
  width: 100%;
  background-color: #001C30;
  border: none;
  outline: none;
  padding: 20px 15px;
  border-radius: 15px;
  color: #BAD7E9;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

#bottom-contato textarea {
  max-width: 500px;
  height: 150px;
  resize: none;
}

.btn-enviar {
  text-align: center;
  margin-top: 20px;
}

.btn-enviar input {
  background-color: #03AFEC;
  color: #232D3F;
  font-family: 'Kanit', sans-serif;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  width: 180px;
  transition: 0.5s;
}

.btn-enviar input:hover {
  color: #040D12;
  box-shadow: 0 0 8px #98E4FF;
  transform: scale(1.04);
}