/* Barra de Tarefas */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232E;
  height: 8vh;
}

.nav-botoes {
  list-style: none;
  display: flex;
}

.nav-botoes li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.menu-responsivo {
  display: none;
  cursor: pointer;
}

.menu-responsivo div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-botoes {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-botoes li {
    margin-left: 0;
    opacity: 0;
  }
  .menu-responsivo {
    display: block;
  }
}

.nav-botoes.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-responsivo.active .linha1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-responsivo.active .linha2 {
  opacity: 0;
}

.menu-responsivo.active .linha3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
/* Painel da Tela Principal */
.home-painel {
  background-color: #EAF6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#home-name {
  font-size: min(140px, 12vw);
  font-family: 'MonteCarlo', cursive;
  font-weight: bold;
}

#home-slogan {
  font-size: min(30px, 3vw);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.dev-icon {
  width: 25%;
  margin-top: 18px;
}